body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1{
    margin-left: 0.5em;
    margin-top: 0em;
}

h2{
    margin-left: 0.5em;
}

a{
    margin-left: 0.5em;
}

p{
    margin-left: 0.5em;
}

.header {
    position: absolute;
    width: 100%;
    height: 20%;
    background: url("Studigotchi-Banner.png") top left;
}

.content {
    position: absolute;
    top: 20%;
    height: 80%;
    width: 100%;
}

.pane-left {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    background: url("mittel-pixel.jpg") top left;
    width: 20%;
}

.main-content {
    position: absolute;
    top: 0;
    left: 20%;
    width: 60%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: unset;
}

.pane-right {
    position: absolute;
    top: 0;
    left: 80%;
    width: 20%;
    height: 100%;
    background: url("mittel-pixel.jpg") top left;
    font-size: 18px;
}

#banner {
    height: 100%;
    width: 100%;
}

.student {
    position: relative;
    /*top: 5%;
    left: 5%;
    width: 90%;
    height: 70%;*/
    width: 100%;
    height: 80%;
    background: url("pixel-background.jpg") top left;
    background-size: 780px;
}

.buttons {
    position: absolute;
    top: 80%;
    left: 0;
    height: 20%;
    width: 100%;
    background-color: lavenderblush;
    overflow: hidden;
}

.button-action {
    width: 80%;
    margin: auto;
    height: auto;
}

.button-icon {
    position: relative;
    max-width: 20%;
    height: auto;
}

.button-table {
    height: 100%;
}

table td {
    width: 33.333%;
    height: 100%;
    overflow: hidden;
    text-align: center;
}